IUCN_USERNAME=<iucn_username>
IUCN_PASSWORD=<iucn_password>
DOWNLOAD_REQUEST_NOTICE="Shape files will be used to create maps for use in the mobile app of Naturalis Biodiversity Center (Leiden, The Netherlands)"
FIREFOX_PROFILE_PATH=/home/user/.mozilla/firefox/yau20ogf.IUCN
DOWNLOAD_FOLDER=/data/iucn_downloads
IUCN_BASE_URL=https://www.iucnredlist.org/
IUCN_SPECIES_URL=http://apiv3.iucnredlist.org/api/v3/taxonredirect/{}
IUCN_SYNONYM_URL=http://apiv3.iucnredlist.org/api/v3/species/synonym/{}?token={}
IUCN_ACCOUNT_URL=https://www.iucnredlist.org/account
IUCN_SPECIES_BY_NAME_URL=http://apiv3.iucnredlist.org/api/v3/species/{}?token={}
IUCN_TOKEN=<iucn_token>
PIPELINE_USERNAME=<pipeline username>
PIPELINE_PASSWORD=<pipeline password>
DEBUG=False